# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=lifeconnectsrilanka@gmail.com
MAIL_PASSWORD=sijoxwbqmezfnjny
MAIL_FROM_EMAIL=lifeconnectsrilanka@gmail.com
MAIL_FROM_NAME="LifeConnect Sri Lanka"
MAIL_ENCRYPTION=tls
