-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: life-connect
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aftercare_appointments`
--

DROP TABLE IF EXISTS `aftercare_appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aftercare_appointments` (
  `appointment_id` int(11) NOT NULL AUTO_INCREMENT,
  `patient_id` varchar(20) NOT NULL COMMENT 'Used for NIC reference',
  `patient_name` varchar(255) NOT NULL,
  `hospital_registration_no` varchar(50) NOT NULL,
  `appointment_date` datetime NOT NULL,
  `appointment_type` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('Scheduled','Completed','Cancelled') DEFAULT 'Scheduled',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`appointment_id`),
  KEY `patient_id` (`patient_id`),
  KEY `hospital_reg` (`hospital_registration_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aftercare_appointments`
--

LOCK TABLES `aftercare_appointments` WRITE;
/*!40000 ALTER TABLE `aftercare_appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `aftercare_appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `body_donation_consents`
--

DROP TABLE IF EXISTS `body_donation_consents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `body_donation_consents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `medical_school_id` int(11) DEFAULT NULL,
  `witness1_name` varchar(255) NOT NULL,
  `witness1_nic` varchar(20) NOT NULL,
  `witness1_phone` varchar(15) NOT NULL,
  `witness1_address` text NOT NULL,
  `witness2_name` varchar(255) NOT NULL,
  `witness2_nic` varchar(20) NOT NULL,
  `witness2_phone` varchar(15) NOT NULL,
  `witness2_address` text NOT NULL,
  `consent_date` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `donor_id` (`donor_id`),
  KEY `fk_bdc_medschool` (`medical_school_id`),
  CONSTRAINT `fk_bdc_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_bdc_medschool` FOREIGN KEY (`medical_school_id`) REFERENCES `medical_schools` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8011 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `body_donation_consents`
--

LOCK TABLES `body_donation_consents` WRITE;
/*!40000 ALTER TABLE `body_donation_consents` DISABLE KEYS */;
/*!40000 ALTER TABLE `body_donation_consents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `body_usage_logs`
--

DROP TABLE IF EXISTS `body_usage_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `body_usage_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `medical_school_id` int(11) NOT NULL,
  `usage_type` varchar(100) NOT NULL COMMENT 'e.g., Anatomy, Research, Surgery Training',
  `description` text DEFAULT NULL,
  `usage_date` date NOT NULL,
  `disposal_method` varchar(100) DEFAULT NULL COMMENT 'e.g., Burial, Cremation, Returned to Kin',
  `disposal_date` date DEFAULT NULL,
  `status` enum('IN_USE','DISPOSED') DEFAULT 'IN_USE',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_usage_donor` (`donor_id`),
  KEY `fk_usage_school` (`medical_school_id`),
  CONSTRAINT `fk_usage_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_usage_school` FOREIGN KEY (`medical_school_id`) REFERENCES `medical_schools` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `body_usage_logs`
--

LOCK TABLES `body_usage_logs` WRITE;
/*!40000 ALTER TABLE `body_usage_logs` DISABLE KEYS */;
INSERT INTO `body_usage_logs` VALUES (2,64,2,'',NULL,'0000-00-00',NULL,NULL,'','2026-02-16 13:31:44'),(8001,8008,7,'Anatomy Education','Undergraduate Dissection Batch 2026','2026-01-10',NULL,NULL,'IN_USE','2026-03-02 16:35:05'),(8002,8009,7,'Medical Research','Histology Research','2026-02-01',NULL,NULL,'IN_USE','2026-03-02 16:35:05'),(8003,8010,7,'Surgical Training','Completed','2025-10-15','Cremation','2026-01-20','DISPOSED','2026-03-02 16:35:05');
/*!40000 ALTER TABLE `body_usage_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadaver_data_sheets`
--

DROP TABLE IF EXISTS `cadaver_data_sheets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cadaver_data_sheets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donation_case_id` int(11) NOT NULL,
  `case_institution_status_id` int(11) NOT NULL,
  `form_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL COMMENT 'All form fields as JSON' CHECK (json_valid(`form_data`)),
  `pdf_path` varchar(255) DEFAULT NULL,
  `status` enum('DRAFT','GENERATED','SIGNED','SUBMITTED') DEFAULT 'DRAFT',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cds_case` (`donation_case_id`),
  KEY `idx_cds_inst` (`case_institution_status_id`),
  CONSTRAINT `fk_cds_case` FOREIGN KEY (`donation_case_id`) REFERENCES `donation_cases` (`id`),
  CONSTRAINT `fk_cds_inst` FOREIGN KEY (`case_institution_status_id`) REFERENCES `case_institution_status` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadaver_data_sheets`
--

LOCK TABLES `cadaver_data_sheets` WRITE;
/*!40000 ALTER TABLE `cadaver_data_sheets` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadaver_data_sheets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_institution_status`
--

DROP TABLE IF EXISTS `case_institution_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_institution_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donation_case_id` int(11) NOT NULL,
  `institution_type` enum('MEDICAL_SCHOOL','HOSPITAL','EYE_BANK') NOT NULL,
  `institution_id` int(11) NOT NULL COMMENT 'FK to medical_schools.id or hospitals.id',
  `track` enum('BODY','ORGAN','CORNEA') NOT NULL COMMENT 'Separates body/organ/cornea flows',
  `attempt_order` tinyint(4) NOT NULL COMMENT 'Sequence: 1st, 2nd, 3rd attempt',
  `is_current` tinyint(1) DEFAULT 0 COMMENT 'Only 1 active per case per track at a time',
  `custodian_action` enum('NOT_CONTACTED','CONTACTED','SUBMITTED') DEFAULT 'NOT_CONTACTED',
  `institution_status` enum('PENDING','UNDER_REVIEW','ACCEPTED','REJECTED') DEFAULT 'PENDING',
  `rejection_message` text DEFAULT NULL COMMENT 'Institution reason for rejection',
  `submission_date` datetime DEFAULT NULL,
  `response_date` datetime DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_inst_case` (`donation_case_id`),
  KEY `idx_inst_current` (`donation_case_id`,`track`,`is_current`),
  CONSTRAINT `fk_inst_case` FOREIGN KEY (`donation_case_id`) REFERENCES `donation_cases` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_institution_status`
--

LOCK TABLES `case_institution_status` WRITE;
/*!40000 ALTER TABLE `case_institution_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_institution_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custodian_documents`
--

DROP TABLE IF EXISTS `custodian_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custodian_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donation_case_id` int(11) NOT NULL,
  `case_institution_status_id` int(11) NOT NULL COMMENT 'Links to specific institution attempt',
  `document_type` varchar(100) NOT NULL COMMENT 'e.g. MCCD, Affidavit, CadaverSheet, NIC_Copy',
  `file_path` varchar(255) NOT NULL,
  `status` enum('UPLOADED','SUBMITTED','ACCEPTED','REJECTED') DEFAULT 'UPLOADED',
  `uploaded_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_doc_case` (`donation_case_id`),
  KEY `idx_doc_inst` (`case_institution_status_id`),
  CONSTRAINT `fk_doc_case` FOREIGN KEY (`donation_case_id`) REFERENCES `donation_cases` (`id`),
  CONSTRAINT `fk_doc_inst` FOREIGN KEY (`case_institution_status_id`) REFERENCES `case_institution_status` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custodian_documents`
--

LOCK TABLES `custodian_documents` WRITE;
/*!40000 ALTER TABLE `custodian_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `custodian_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custodian_legal_actions`
--

DROP TABLE IF EXISTS `custodian_legal_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custodian_legal_actions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donation_case_id` int(11) NOT NULL,
  `custodian_id` int(11) NOT NULL,
  `action_type` enum('CONFIRM','OBJECT') NOT NULL,
  `method` enum('QUICK','PRINT_SIGN') NOT NULL,
  `reason_category` varchar(50) DEFAULT NULL COMMENT 'For objections: religious, cultural, emotional, legal, other',
  `reason_text` text DEFAULT NULL COMMENT 'Detailed reason for objection',
  `remarks` text DEFAULT NULL COMMENT 'Optional remarks for confirmations',
  `signed_document_path` varchar(255) DEFAULT NULL,
  `co_signed_document_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_legal_case` (`donation_case_id`),
  KEY `idx_legal_custodian` (`custodian_id`),
  CONSTRAINT `fk_legal_case` FOREIGN KEY (`donation_case_id`) REFERENCES `donation_cases` (`id`),
  CONSTRAINT `fk_legal_custodian` FOREIGN KEY (`custodian_id`) REFERENCES `custodians` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custodian_legal_actions`
--

LOCK TABLES `custodian_legal_actions` WRITE;
/*!40000 ALTER TABLE `custodian_legal_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `custodian_legal_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custodians`
--

DROP TABLE IF EXISTS `custodians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custodians` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `donor_id` int(11) NOT NULL,
  `organ_id` int(11) DEFAULT NULL,
  `relationship` varchar(100) NOT NULL COMMENT 'e.g. Spouse, Brother-in-law',
  `custodian_number` tinyint(4) NOT NULL COMMENT '1 = primary, 2 = co-custodian',
  `name` varchar(255) NOT NULL,
  `nic_number` varchar(20) NOT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_donor_custodian` (`donor_id`,`custodian_number`),
  KEY `idx_custodian_user` (`user_id`),
  KEY `idx_custodian_donor` (`donor_id`),
  KEY `fk_cust_organ` (`organ_id`),
  CONSTRAINT `fk_cust_organ` FOREIGN KEY (`organ_id`) REFERENCES `organs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_custodian_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_custodian_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custodians`
--

LOCK TABLES `custodians` WRITE;
/*!40000 ALTER TABLE `custodians` DISABLE KEYS */;
/*!40000 ALTER TABLE `custodians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `death_declarations`
--

DROP TABLE IF EXISTS `death_declarations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `death_declarations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `declared_by_custodian_id` int(11) NOT NULL,
  `date_of_death` date NOT NULL,
  `time_of_death` time NOT NULL,
  `place_of_death` varchar(255) NOT NULL,
  `cause_of_death` text NOT NULL,
  `additional_notes` text DEFAULT NULL,
  `window_expires_at` datetime NOT NULL COMMENT 'death datetime + 48 hours',
  `status` enum('ACTIVE','EXPIRED','COMPLETED') DEFAULT 'ACTIVE',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_death_donor` (`donor_id`),
  KEY `idx_death_custodian` (`declared_by_custodian_id`),
  CONSTRAINT `fk_death_custodian` FOREIGN KEY (`declared_by_custodian_id`) REFERENCES `custodians` (`id`),
  CONSTRAINT `fk_death_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `death_declarations`
--

LOCK TABLES `death_declarations` WRITE;
/*!40000 ALTER TABLE `death_declarations` DISABLE KEYS */;
/*!40000 ALTER TABLE `death_declarations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donation_cases`
--

DROP TABLE IF EXISTS `donation_cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donation_cases` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `death_declaration_id` int(11) NOT NULL,
  `case_number` varchar(20) NOT NULL COMMENT 'e.g. DC-2026-001',
  `donation_type` enum('BODY','ORGAN','BODY_AND_CORNEA') NOT NULL,
  `legal_status` enum('PENDING','CONFIRMED','OBJECTED') DEFAULT 'PENDING',
  `overall_status` enum('OPEN','IN_PROGRESS','COMPLETED','CANCELLED') DEFAULT 'OPEN',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_case_number` (`case_number`),
  KEY `idx_case_donor` (`donor_id`),
  KEY `idx_case_death` (`death_declaration_id`),
  CONSTRAINT `fk_case_death` FOREIGN KEY (`death_declaration_id`) REFERENCES `death_declarations` (`id`),
  CONSTRAINT `fk_case_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donation_cases`
--

LOCK TABLES `donation_cases` WRITE;
/*!40000 ALTER TABLE `donation_cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `donation_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donations`
--

DROP TABLE IF EXISTS `donations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) DEFAULT 'LKR',
  `status` enum('PENDING','SUCCESS','FAILED') DEFAULT 'PENDING',
  `transaction_id` varchar(100) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_donations_user` (`user_id`),
  CONSTRAINT `fk_donations_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donations`
--

LOCK TABLES `donations` WRITE;
/*!40000 ALTER TABLE `donations` DISABLE KEYS */;
INSERT INTO `donations` VALUES (2,6,5000.00,'LKR','SUCCESS',NULL,'','2026-04-02 08:11:53');
/*!40000 ALTER TABLE `donations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donor_categories`
--

DROP TABLE IF EXISTS `donor_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donor_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `category_name` (`category_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donor_categories`
--

LOCK TABLES `donor_categories` WRITE;
/*!40000 ALTER TABLE `donor_categories` DISABLE KEYS */;
INSERT INTO `donor_categories` VALUES (2,'FINANCIAL'),(3,'JUST_DONOR'),(1,'NON');
/*!40000 ALTER TABLE `donor_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donor_pledges`
--

DROP TABLE IF EXISTS `donor_pledges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donor_pledges` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `organ_id` int(11) NOT NULL,
  `pledge_date` timestamp NULL DEFAULT current_timestamp(),
  `status` enum('PENDING','APPROVED','COMPLETED') DEFAULT 'PENDING',
  `conditions` text DEFAULT NULL,
  `medications` text DEFAULT NULL,
  `allergies` text DEFAULT NULL,
  `preferred_hospital_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `donor_id` (`donor_id`),
  KEY `organ_id` (`organ_id`),
  KEY `fk_pledge_hosp` (`preferred_hospital_id`),
  CONSTRAINT `fk_pledge_hosp` FOREIGN KEY (`preferred_hospital_id`) REFERENCES `hospitals` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donor_pledges`
--

LOCK TABLES `donor_pledges` WRITE;
/*!40000 ALTER TABLE `donor_pledges` DISABLE KEYS */;
INSERT INTO `donor_pledges` VALUES (1,1,1,'2026-04-02 09:20:16','PENDING','None','','',1),(2,1,2,'2026-04-02 09:41:54','PENDING','None','','',9);
/*!40000 ALTER TABLE `donor_pledges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donors`
--

DROP TABLE IF EXISTS `donors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `category_id` int(11) NOT NULL,
  `pledge_type` enum('LIVING','DECEASED_ORGAN','DECEASED_BODY','NONE') DEFAULT 'NONE',
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `nic_number` varchar(20) NOT NULL,
  `nic_image_path` varchar(255) DEFAULT NULL,
  `gender` enum('MALE','FEMALE','OTHER') NOT NULL,
  `date_of_birth` date NOT NULL,
  `blood_group` enum('A+','A-','B+','B-','AB+','AB-','O+','O-') DEFAULT NULL,
  `address` text NOT NULL,
  `district` varchar(50) NOT NULL,
  `divisional_secretariat` varchar(100) NOT NULL,
  `grama_niladhari_division` varchar(100) NOT NULL,
  `verification_status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING',
  `consent_status` enum('GIVEN','WITHDRAWN','PENDING') DEFAULT 'PENDING',
  `consent_date` date DEFAULT NULL,
  `opt_out_reason` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nic_number` (`nic_number`),
  KEY `user_id` (`user_id`),
  KEY `fk_donor_category` (`category_id`),
  CONSTRAINT `fk_donor_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8042 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donors`
--

LOCK TABLES `donors` WRITE;
/*!40000 ALTER TABLE `donors` DISABLE KEYS */;
/*!40000 ALTER TABLE `donors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospitals`
--

DROP TABLE IF EXISTS `hospitals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hospitals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `registration_number` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `district` varchar(50) NOT NULL,
  `facility_type` varchar(50) NOT NULL,
  `cmo_name` varchar(255) NOT NULL,
  `cmo_nic` varchar(20) NOT NULL,
  `medical_license_number` varchar(50) NOT NULL,
  `verification_status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING',
  PRIMARY KEY (`id`),
  UNIQUE KEY `registration_number` (`registration_number`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `fk_hospital_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospitals`
--

LOCK TABLES `hospitals` WRITE;
/*!40000 ALTER TABLE `hospitals` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospitals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medical_schools`
--

DROP TABLE IF EXISTS `medical_schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medical_schools` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `school_name` varchar(255) NOT NULL,
  `university_affiliation` varchar(255) NOT NULL,
  `ugc_accreditation_number` varchar(50) NOT NULL,
  `address` text NOT NULL,
  `district` varchar(50) NOT NULL,
  `contact_person_name` varchar(255) NOT NULL,
  `contact_person_phone` varchar(15) NOT NULL,
  `verification_status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ugc_number` (`ugc_accreditation_number`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `fk_medschool_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medical_schools`
--

LOCK TABLES `medical_schools` WRITE;
/*!40000 ALTER TABLE `medical_schools` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `next_of_kin`
--

DROP TABLE IF EXISTS `next_of_kin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `next_of_kin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `relationship` varchar(50) NOT NULL,
  `nic_number` varchar(20) NOT NULL,
  `contact_number` varchar(15) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `donor_id` (`donor_id`),
  CONSTRAINT `fk_kin_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `next_of_kin`
--

LOCK TABLES `next_of_kin` WRITE;
/*!40000 ALTER TABLE `next_of_kin` DISABLE KEYS */;
/*!40000 ALTER TABLE `next_of_kin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `type` varchar(50) DEFAULT 'GENERAL',
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `fk_notification_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organ_requests`
--

DROP TABLE IF EXISTS `organ_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organ_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hospital_id` int(11) NOT NULL,
  `organ_id` int(11) NOT NULL,
  `priority_level` enum('NORMAL','URGENT','CRITICAL') DEFAULT 'NORMAL',
  `status` enum('OPEN','MATCHED','CLOSED') DEFAULT 'OPEN',
  `patient_details` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_request_hospital` (`hospital_id`),
  KEY `fk_request_organ` (`organ_id`),
  CONSTRAINT `fk_request_hospital` FOREIGN KEY (`hospital_id`) REFERENCES `hospitals` (`id`),
  CONSTRAINT `fk_request_organ` FOREIGN KEY (`organ_id`) REFERENCES `organs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organ_requests`
--

LOCK TABLES `organ_requests` WRITE;
/*!40000 ALTER TABLE `organ_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `organ_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organs`
--

DROP TABLE IF EXISTS `organs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `is_available` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organs`
--

LOCK TABLES `organs` WRITE;
/*!40000 ALTER TABLE `organs` DISABLE KEYS */;
INSERT INTO `organs` VALUES (1,'Kidney',NULL,1),(2,'Liver',NULL,1),(3,'Heart',NULL,1),(4,'Lung',NULL,1),(5,'Pancreas',NULL,1),(6,'Intestine',NULL,1),(7,'Cornea',NULL,1),(8,'Bone Marrow',NULL,1);
/*!40000 ALTER TABLE `organs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipients`
--

DROP TABLE IF EXISTS `recipients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipients` (
  `recipient_id` int(11) NOT NULL AUTO_INCREMENT,
  `nic` varchar(20) NOT NULL,
  `name` varchar(255) NOT NULL,
  `organ_received` varchar(50) NOT NULL,
  `surgery_date` date NOT NULL,
  `treatment_notes` text DEFAULT NULL,
  `hospital_registration_no` varchar(20) NOT NULL,
  `status` varchar(20) DEFAULT 'Active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`recipient_id`),
  KEY `nic` (`nic`),
  KEY `hospital_reg` (`hospital_registration_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipients`
--

LOCK TABLES `recipients` WRITE;
/*!40000 ALTER TABLE `recipients` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `success_stories`
--

DROP TABLE IF EXISTS `success_stories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `success_stories` (
  `story_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `success_date` date NOT NULL,
  `hospital_registration_no` varchar(20) NOT NULL,
  `status` varchar(20) DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`story_id`),
  KEY `fk_story_hospital_reg` (`hospital_registration_no`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `success_stories`
--

LOCK TABLES `success_stories` WRITE;
/*!40000 ALTER TABLE `success_stories` DISABLE KEYS */;
INSERT INTO `success_stories` VALUES (1,'Success Story from Hospital 3','This is an inspirational success story.','2026-02-15','HOSP003','Approved','2026-03-05 10:19:22','2026-03-05 10:19:22'),(2,'Success Story from Hospital 6','Patient recovered wonderfully.','2026-02-16','HOSP006','Pending','2026-03-05 10:19:22','2026-03-05 10:19:22');
/*!40000 ALTER TABLE `success_stories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `success_stories_new`
--

DROP TABLE IF EXISTS `success_stories_new`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `success_stories_new` (
  `story_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `success_date` date NOT NULL,
  `hospital_registration_no` varchar(20) NOT NULL,
  `status` varchar(20) DEFAULT 'Pending',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`story_id`),
  KEY `hospital_reg` (`hospital_registration_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `success_stories_new`
--

LOCK TABLES `success_stories_new` WRITE;
/*!40000 ALTER TABLE `success_stories_new` DISABLE KEYS */;
/*!40000 ALTER TABLE `success_stories_new` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_requests`
--

DROP TABLE IF EXISTS `support_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `patient_nic` varchar(20) NOT NULL,
  `patient_name` varchar(255) NOT NULL,
  `patient_type` varchar(100) NOT NULL,
  `reason` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING',
  `submitted_date` date NOT NULL,
  `reviewed_date` date DEFAULT NULL,
  `reviewed_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `patient_nic` (`patient_nic`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_requests`
--

LOCK TABLES `support_requests` WRITE;
/*!40000 ALTER TABLE `support_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `support_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_results`
--

DROP TABLE IF EXISTS `test_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test_results` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `test_name` varchar(100) NOT NULL,
  `result_value` varchar(255) DEFAULT NULL,
  `document_path` varchar(255) DEFAULT NULL,
  `test_date` date NOT NULL,
  `verified_by_hospital_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `donor_id` (`donor_id`),
  CONSTRAINT `fk_test_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_results`
--

LOCK TABLES `test_results` WRITE;
/*!40000 ALTER TABLE `test_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `upcoming_appointments`
--

DROP TABLE IF EXISTS `upcoming_appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `upcoming_appointments` (
  `appointment_id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `appointment_date` date NOT NULL,
  `appointment_time` time NOT NULL,
  `hospital_name` varchar(150) DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected') DEFAULT 'Pending',
  `rejection_reason` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`appointment_id`),
  KEY `donor_id` (`donor_id`),
  CONSTRAINT `upcoming_appointments_ibfk_1` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `upcoming_appointments`
--

LOCK TABLES `upcoming_appointments` WRITE;
/*!40000 ALTER TABLE `upcoming_appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `upcoming_appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `role` enum('F_ADMIN','AC_ADMIN','D_ADMIN','U_ADMIN','DONOR','HOSPITAL','MEDICAL_SCHOOL','CUSTODIAN') NOT NULL,
  `status` enum('PENDING','ACTIVE','SUSPENDED') DEFAULT 'PENDING',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8012 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `witnesses`
--

DROP TABLE IF EXISTS `witnesses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `witnesses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donor_id` int(11) NOT NULL,
  `organ_id` int(11) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `nic_number` varchar(20) NOT NULL,
  `contact_number` varchar(15) NOT NULL,
  `address` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `donor_id` (`donor_id`),
  KEY `fk_wit_organ` (`organ_id`),
  CONSTRAINT `fk_wit_organ` FOREIGN KEY (`organ_id`) REFERENCES `organs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_witness_donor` FOREIGN KEY (`donor_id`) REFERENCES `donors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `witnesses`
--

LOCK TABLES `witnesses` WRITE;
/*!40000 ALTER TABLE `witnesses` DISABLE KEYS */;
/*!40000 ALTER TABLE `witnesses` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-02 15:12:29
